<% if session[:error] %>
  <div><%= session[:error] %></div>
<% end %>

<%= form_with url: sessions_path do |form| %>
  <%= form.text_field :name, placeholder: "Username" %>
  <%= form.password_field :password, placeholder: "Password" %>
  <%= form.submit "Submit" %>
<% end %>